---
title: Join the Community!
layout: blank
seo:
  title: Form Submission Success!
  image: website/uploads/meta--unmute-community.png
  description: Welcome to Unmute! Come join the conversation.
---

{% include "layout/header.njk" %}

<main class="container py-20">
  <div class="max-w-2xl">
    <h1>Join the Community</h1>
    <p>
      Thank you for joining the discussion! If you don't receive an email
      invitation to our Slack team, please send us a message at
      <a href="mailto:hello@unmutedstories.com">hello@unmutedstories.com</a>.
    </p>
  </div>
</main>

{% include "layout/footer.njk" %}
