<div class="rounded-lg overflow-hidden inline-block component--card {{ className }}">
  <img src="{{ image }}" alt="{{ title }}" class="block mb-4 mx-auto h-48 md:h-56 w-auto">
  <div class="py-4 px-2">
    <div class="mb-4">
      <h3 class="leading-snug text-lg mb-2">{{ title }}</h3>
      <p class="text-sm mb-2">{{ subtitle }}</p>
      <p class="text-sm">{{ meta }}</p>
    </div>
    <div class="flex items-center justify-center">
      {% if social_links.twitter %}
        <a
          href="{{ social_links.twitter.url }}"
          target="_blank"
          class="mx-1 hover:opacity-75 transition-all duration-300"
        >
          {{ social_links.twitter.icon | safe }}
        </a>
      {% endif %}
      {% if social_links.instagram %}
        <a
          href="{{ social_links.instagram.url }}"
          target="_blank"
          class="mx-1 hover:opacity-75 transition-all duration-300"
        >
          {{ social_links.instagram.icon | safe }}
        </a>
      {% endif %}
      {% if social_links.facebook %}
        <a
          href="{{ social_links.facebook.url }}"
          target="_blank"
          class="mx-1 hover:opacity-75 transition-all duration-300"
        >
          {{ social_links.facebook.icon | safe }}
        </a>
      {% endif %}
    </div>
  </div>
</div>
