<div class="rounded-lg bg-gray overflow-hidden inline-block text-left component--card {{ className }}">
  <div class="bg-black h-48"></div>
  <div class="py-4 px-2">
    <h3 class="leading-snug text-lg">Speaker Name</h3>
    <p class="text-md mb-4">Introduction</p>
    <p class="m-0 text-xs">Social thingies here ...</p>
  </div>
</div>
