<a
  href="{{ url }}"
  class="
    bg-yellow
    duration-300
    inline-block
    no-underline
    px-8
    py-3
    relative
    rounded-full
    text-black
    transition-all
    component--button
    theme-{{ theme }}
    {{ className }}"
    {{ attrs }}
>
  {{ label }}
</a>
