---
layout: default
title: Code of Conduct
---

<div class="container">
  <h1 class="text-4xl mb-4">Code of Conduct</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio reprehenderit iste eos? Adipisci reiciendis dolores alias temporibus debitis vero consectetur soluta atque beatae! Assumenda minus delectus porro, placeat quo ipsa.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio reprehenderit iste eos? Adipisci reiciendis dolores alias temporibus debitis vero consectetur soluta atque beatae! Assumenda minus delectus porro, placeat quo ipsa.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio reprehenderit iste eos? Adipisci reiciendis dolores alias temporibus debitis vero consectetur soluta atque beatae! Assumenda minus delectus porro, placeat quo ipsa.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio reprehenderit iste eos? Adipisci reiciendis dolores alias temporibus debitis vero consectetur soluta atque beatae! Assumenda minus delectus porro, placeat quo ipsa.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio reprehenderit iste eos? Adipisci reiciendis dolores alias temporibus debitis vero consectetur soluta atque beatae! Assumenda minus delectus porro, placeat quo ipsa.
  </p>
</div>
