<div class="bg-blue text-white py-12">
  <div class="container">
    <div class="lg:flex justify-between align-top mb-12 text-center lg:text-left">
      <div class="mb-12 lg:mb-0">
        <form action="https://unmutedstories.us2.list-manage.com/subscribe/post?u=767664b8a76e41fe139147a10&amp;id=e3cfdf64de" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate class="inline-block">
          <div class="sm:flex items-center">
            <p class="sm:inline-block mr-3 mb-2 sm:mb-0">Join the discussion.</p>
            <input type="email" value="" name="EMAIL" class="rounded-full h-12 px-4 py-2 inline-block mr-3 w-56 text-black" placeholder="enter your email" required>
            <div class="absolute" style="left: -5000px;" aria-hidden="true">
              <input type="text" name="b_767664b8a76e41fe139147a10_e3cfdf64de" tabindex="-1" value="">
            </div>
            <input type="submit" value="&nbsp;" name="subscribe" class="rounded-full bg-yellow p-4 leading-none h-12 w-12 bg-center bg-no-repeat" style="background-image: url('/assets/images/form-submit-arrow.png'); background-size: 1.3rem;">
          </div>
        </form>
      </div>
      <div>
        <div class="flex justify-center align-middle flex-wrap flex-shrink-0">
          <span class="mr-3 block w-full mb-3 lg:w-auto lg:inline-block lg:mb-0">Stay up-to-speed with UnMute.</span>
          <a href="https://twitter.com/unmuted_stories" target="_blank" class="mr-3 w-6 text-white hover:opacity-50 transition-all duration-300">
            {% svg "twitter" %}
          </a>
          <a href="https://www.instagram.com/unmuted.stories/" target="_blank" class="w-6 text-white hover:opacity-50 transition-all duration-300">
            {% svg "instagram" %}
          </a>
        </div>
      </div>
    </div>
    <span class="block text-center lg:text-left mb-2">Copyright &copy; 2021 Unmute. All rights reserved.</span>
    <div class="text-center lg:text-left">
      <a href="/about" class="text-white">Meet the Team</a>
      &nbsp;·&nbsp;
      <a href="/code-of-conduct" class="text-white">Code of Conduct</a>
    </div>
  </div>
</div>
