---
title: 404 - Page Not Found
layout: default
permalink: 404.html
seo:
  title: 404 - Page Not Found
  image: /assets/images/meta/unmute--meta--404.png
  description: You've found a page that isn't a page!
---

<div class="bg-orange text-center text-white flex items-center justify-center" style="height: 100vh;">
  <div class="w-full">
    <div class="w-64 mx-auto mb-8">
      {% svg "unmute-logo" %}
    </div>
    <p class="text-yellow font-bold text-xl max-w-xl mx-auto">
      How did you get lost? This site has only one page.
      <br>
      <a href="/" class="text-yellow">Go back home</a>.
    </p>
  </div>
</div>
