---
layout: default
title: Unmute Your Story
seo:
  image: /assets/images/meta/unmute--meta--home.png
  description: A component-based Eleventy starter kit.
---

<div class="bg-orange text-center text-white flex items-center justify-center" style="height: 100vh;">
  <div class="w-full">
    <div class="w-64 mx-auto mb-8">
      {% svg "unmute-logo" %}
    </div>
    <p class="text-yellow font-bold text-xl">Launching in 2020, the weirdest year ever.</p>
  </div>
</div>
