---
layout: default
title: Unmute Your Story
seo:
  image: /assets/images/meta/unmute--meta--home.png
  description: Everyone has a story. Unmute yours.
---

{# --- Jumbotron --- #}

<div class="bg-black text-white" style="background-image: url(/assets/images/bg-jumbotron.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="container pt-8 pb-16">
    <div class="flex items-center mb-4 md:mb-12">
      <span class="inline-block w-32 mr-8">
        {% svg "unmute-logo" %}
      </span>
      <span class="max-w-xs text-sm hidden md:inline-block">
        An event-driven community for underrepresented folx to share, listen, and learn.
      </span>
    </div>
    <div class="text-center md:text-left mb-32 md:mb-0">
      <h1 class="text-4xl sm:text-5xl leading-tight mb-6">
        Everyone has a story.
        <br>
        <span class="relative">
          <span class="relative z-10">Unmute</span>
          <span class="absolute" style="left: -2.5rem; bottom: -.33rem; height: 4rem; z-index: 0;">
            {% svg "unmute-highlight-left" %}
          </span>
          <span class="absolute w-full left-0" style="bottom: -.33rem; z-index: 0;">
            {% svg "unmute-highlight-bottom" %}
          </span>
        </span>
        yours.
      </h1>
      <p class="max-w-md mb-8 mx-auto md:mx-0">
        Join us for an evening of storytelling with some of your favorite fellow nerds. We'll laugh, we'll cry. We may even hear a story without any industry jargon!
      </p>
    </div>
    <div class="flex flex-wrap justify-center md:justify-start items-center font-bold">
      <span class="inline-block mr-3">October 1, 2020</span>
      <span class="inline-block mx-3">7 PM EST</span>
      <span class="inline-block mx-3">Virtual</span>
      <span class="inline-block mx-3">Free</span>
      <span class="block md:inline-block w-full md:w-auto mt-4 md:mt-0 ml-0 md:ml-3 text-center">
        {% button label="Register now", url="/" %}
      </span>
    </div>
  </div>
</div>

{# --- Lineup --- #}

<div class="py-16 overflow-x-hidden">
  <div class="container text-center">
    <h2 class="text-4xl mb-4">The Lineup</h2>
    <p class="max-w-lg mx-auto mb-8">
      We believe we can make the tech space a better place by providing and open and raw storytelling platform. A place to slow down. To take time to listen to each other's stories.
    </p>
    <div class="relative">
      <span class="absolute template--home--squiggles position-01">
        {% svg "squiggles-01" %}
      </span>
      <span class="absolute template--home--squiggles position-02">
        {% svg "squiggles-02" %}
      </span>
      <span class="absolute template--home--squiggles position-03">
        {% svg "squiggles-03" %}
      </span>
      <span class="absolute template--home--squiggles position-04">
        {% svg "squiggles-03" %}
      </span>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
        {% card
            image="/assets/images/speaker-01.png",
            title="Speaker (speaker-01)",
            subtitle="Title (speaker-01)",
            meta="Fun Fact (speaker-01)",
            facebook_url="/",
            twitter_url="/",
            instagram_url="/",
            className="mx-4 mb-8 lg:mb-0"
        %}
        {% card
            image="/assets/images/speaker-02.png",
            title="Speaker (speaker-02)",
            subtitle="Title (speaker-02)",
            meta="Fun Fact (speaker-02)",
            facebook_url="/",
            twitter_url="/",
            instagram_url="/",
            className="mx-4 mb-8 lg:mb-0"
        %}
        {% card
            image="/assets/images/speaker-03.png",
            title="Speaker (speaker-03)",
            subtitle="Title (speaker-03)",
            meta="Fun Fact (speaker-03)",
            facebook_url="/",
            twitter_url="/",
            instagram_url="/",
            className="mx-4 mb-8 sm:mb-0"
        %}
        {% card
            image="/assets/images/speaker-04.png",
            title="Speaker (speaker-04)",
            subtitle="Title (speaker-04)",
            meta="Fun Fact (speaker-04)",
            facebook_url="/",
            twitter_url="/",
            instagram_url="/",
            className="mx-4"
        %}
      </div>
    </div>
  </div>
</div>

{# --- FAQ --- #}

{% text_tile heading="UnMute is made by you, for you." %}
  <p>
    We believe we can make the tech space a better place by providing an open
    and raw storytelling platform. A place to slow down. To take time to
    listen to the stories that surround us. And to use those stories to better
    ourselves — our selfs, our careers, and our environments — along with the
    industry in which we work.
  </p>
  <p>
    <a href="/code-of-conduct">See our Code of Conduct</a>
  </p>
{% endtext_tile %}

<div class="py-16 bg-gray-light">
  <div class="container text-center">
    <h2 class="text-4xl mb-4">Frequently Anticipated Questions</h2>
    <p class="max-w-lg mx-auto mb-8">
      Proin vehicula tellus in nisl imperdiet, vel varius ligula placerat. Aenean mollis mi at cursus ornare. Sed nec enim erat.
    </p>
  </div>

  <div class="container">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% text_tile className="swiper-slide", heading="Lorem ipsum, dolor sit amet consectetur adipisicing elit?" %}
          <p>
            A ipsum quasi veniam, ut minima nostrum at omnis quod aliquam quibusdam corporis ducimus sunt quo numquam maiores modi voluptatem aut odio?
          </p>
        {% endtext_tile %}

        {% text_tile className="swiper-slide", heading="Accusamus quam, sint amet?" %}
          <p>
            Nemo nesciunt repellat explicabo, maxime a libero, quibusdam perspiciatis animi tempora doloremque amet alias expedita consequatur ea odit id ipsa repellendus sapiente?
          </p>
        {% endtext_tile %}

        {% text_tile className="swiper-slide", heading="Cupiditate consequuntur suscipit quis assumenda?" %}
          <p>
            Voluptatum accusantium soluta mollitia ipsam. Ducimus fugiat blanditiis illum impedit possimus voluptate rerum nemo nam libero a, cumque, earum, quo quas vero.
          </p>
        {% endtext_tile %}

        {% text_tile className="swiper-slide", heading="Illum sequi nihil architecto maiores repellendus voluptatibus expedita?" %}
          <p>
            At, accusamus impedit autem dignissimos beatae cupiditate veniam recusandae molestiae alias. Facere rem id repellat inventore pariatur architecto quis, commodi nostrum excepturi?
          </p>
        {% endtext_tile %}

        {% text_tile className="swiper-slide", heading="Cumque laboriosam id dolore fuga?" %}
          <p>
            Praesentium error et modi distinctio accusamus maxime consequuntur dolorum labore sit fuga rem deleniti neque doloremque, repellat dolore? Tempore harum provident magni?
          </p>
        {% endtext_tile %}
      </div>
      <button class="swiper-prev-button absolute z-10 hidden md:block" style="left: 60px; top: 50%; transform: translateY(-50%)">
        {% icon name="arrow-left" %}
      </button>
      <button class="swiper-next-button absolute z-10 hidden md:block" style="right: 60px; top: 50%; transform: translateY(-50%)">
        {% icon name="arrow-right" %}
      </button>
    </div>
  </div>

  <script>
    onInit(function() {
      App.TextTileSlider.init()
    })
  </script>
</div>

{# --- Footer --- #}

<div class="bg-blue text-white py-12">
  <div class="container">
    <div class="flex justify-between align-top mb-12">
      <div>
        <form action="https://unmutedstories.us2.list-manage.com/subscribe/post?u=767664b8a76e41fe139147a10&amp;id=e3cfdf64de" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate class="inline-block">
          <div class="sm:flex items-center">
            <p class="sm:inline-block mr-3 mb-2 sm:mb-0">Join the discussion.</p>
            <input type="email" value="" name="EMAIL" class="rounded-full h-12 px-4 py-2 inline-block mr-3 w-56 text-black" placeholder="enter your email" required>
            <div class="absolute" style="left: -5000px;" aria-hidden="true">
              <input type="text" name="b_767664b8a76e41fe139147a10_e3cfdf64de" tabindex="-1" value="">
            </div>
            <input type="submit" value="&nbsp;" name="subscribe" class="rounded-full bg-yellow p-4 leading-none h-12 w-12 bg-center bg-no-repeat" style="background-image: url('/assets/images/form-submit-arrow.png'); background-size: 1.3rem;">
          </div>
        </form>
      </div>
      <div>
        <div class="flex align-middle">
          <span class="mr-3">Stay up-to-speed with UnMute.</span>
          <a href="/" target="_blank" class="mr-3 w-6 text-white hover:opacity-50 transition-all duration-300">
            {% svg "twitter" %}
          </a>
          <a href="/" target="_blank" class="mr-3 w-6 text-white hover:opacity-50 transition-all duration-300">
            {% svg "facebook" %}
          </a>
          <a href="/" target="_blank" class="w-6 text-white hover:opacity-50 transition-all duration-300">
            {% svg "instagram" %}
          </a>
        </div>
      </div>
    </div>
    <span class="block">Copyright &copy; 2020 UnMute. All rights reserved.</span>
  </div>
</div>
