---
layout: default
title: Unmute Your Story
seo:
  image: /assets/images/meta/unmute--meta--home.png
  description: A component-based Eleventy starter kit.
---

<div class="bg-orange text-center text-white flex items-center justify-center" style="height: 100vh;">
  <div class="w-full px-4 sm:px-0">
    <div class="w-48 sm:w-64 mx-auto mb-2 sm:mb-4">
      {% svg "unmute-logo" %}
    </div>
    <p class="text-yellow font-bold text-xl mb-8 sm:mb-12">Launching in 2020, the weirdest year ever.</p>

    <form action="https://unmutedstories.us2.list-manage.com/subscribe/post?u=767664b8a76e41fe139147a10&amp;id=e3cfdf64de" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate class="inline-block">
      <div class="sm:flex items-center">
        <p class="sm:inline-block mr-3 mb-2 sm:mb-0">Join the discussion</p>
        <input type="email" value="" name="EMAIL" class="rounded-full h-12 px-4 py-2 inline-block mr-3 w-56 text-black" placeholder="enter your email" required>
        <div class="absolute" style="left: -5000px;" aria-hidden="true">
          <input type="text" name="b_767664b8a76e41fe139147a10_e3cfdf64de" tabindex="-1" value="">
        </div>
        <input type="submit" value="&nbsp;" name="subscribe" class="rounded-full bg-yellow p-4 leading-none h-12 w-12 bg-center bg-no-repeat" style="background-image: url('/assets/images/form-submit-arrow.png'); background-size: 1.3rem;">
      </div>
    </form>
  </div>
</div>
